body{
    
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

img{
    height: auto;
    max-width: 300px;
}

.image-credit{
    align-self: flex-end;
}
/* card rules */


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex:1;
    
    
}

.card .box{
    border: 2px solid blue;
    border-radius: 25px;
    margin: 1em;
    min-height: 200px;
    min-width: 200px;
    max-height:200px;
    max-width: 200px;
    
}

.card .subtext{
    display: flex;
    
    text-align: center;
    max-width: 200px;
    
}
/*-------------------------------------*/
.body.header{
    background-color: #1f2937 ;
    
    padding: 2em;
}

.body.header .logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

a, .body.header{
    
    color: #E5E7EB;
    text-decoration: none;
}

.body.header .right-links{
    display: flex;
    gap: 1em;
    
    font-size: 18px;
    
}
/*-------------------------------------*/
.body.one{
    background-color: #1F2937;
    gap: 1em;
    
}

.body.one .left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.body.one .left .heading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.body.one .left .content{
    font-size: 18px;
    color: #E5E7EB;
}

.body.one .right{
    display: flex;
    flex-direction: column;
} 

/*---------------------------------------*/

.body.two{
    flex-direction: column;
    padding: 1em;
}

.body.two .heading{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    justify-content: center;
    margin-bottom: 2em;
}

.body.two .cards{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: stretch;
    
}

/*Quote section*/

.body.three{
    background-color:#E5E7EB;
    padding: 5em;
    padding-left: 7em;
}

.body.three .quote{
    display: flex;
    margin: 1em; 
    flex-direction: column;
}

.body.three .quote .text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.body.three .quote .author{
    font-weight: bold;
    
    align-self: flex-end;
}

/* Call to action*/

.body.action{
    background-color: #3882F6;
    margin: 3em;
    border-radius: 10px;
    padding: 1em;
}

.body.action .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.action .left .heading{
    color: #F9FAf8;
    font-size: 24px;
}

.action .left .subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.right .button{
    border: 1px solid white;
}
