body{
    
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    color: #F9FAF8;
    background-color: #3882F6;
}

img{
    height: auto;
    max-width: 300px;
}
/*-------------------------------------*/
.body.header{
    background-color: #1f2937 ;
    
    padding: 2em;
}

.body.header .logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

a, .body.header{
    
    color: #E5E7EB;
    text-decoration: none;
}

.body.header .right-links{
    display: flex;
    gap: 1em;
    
    font-size: 18px;
    
}
/*-------------------------------------*/
.body.one{
    background-color: #1F2937;
    gap: 1em;
    
}

.body.one .left{
    flex-direction: column;
}

.body.one .left .heading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.body.one .left .content{
    font-size: 18px;
    color: #E5E7EB;
}

.body.one .right{
    flex-direction: column;
}  
