body{
    
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

img{
    height: auto;
    max-width: 300px;
}

.image-credit{
    align-self: flex-end;
}
/* card rules */
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.card .box{
    border: 2px solid blue;
    border-radius: 25px;
    margin: 1em;
    
}
/*-------------------------------------*/
.body.header{
    background-color: #1f2937 ;
    
    padding: 2em;
}

.body.header .logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

a, .body.header{
    
    color: #E5E7EB;
    text-decoration: none;
}

.body.header .right-links{
    display: flex;
    gap: 1em;
    
    font-size: 18px;
    
}
/*-------------------------------------*/
.body.one{
    background-color: #1F2937;
    gap: 1em;
    
}

.body.one .left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.body.one .left .heading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.body.one .left .content{
    font-size: 18px;
    color: #E5E7EB;
}

.body.one .right{
    display: flex;
    flex-direction: column;
} 

/*---------------------------------------*/

.body.two{
    flex-direction: column;
    padding: 1em;
}

.body.two .heading{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    justify-content: center;
    margin-bottom: 2em;
}

.body.two .cards{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    border: 2px solid pink;
}

